.my-navbar {
    position: fixed;
    top: 0;
    background-color: #FDFFA0;
    padding: 10px 10vw;
    width: 100vw;
    z-index: 2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: black;
}

.my-navbar a{
    color: black;
    font-weight: 600;
}

.my-navbar a:hover {
    color: black;
    font-weight: bold;
}

.my-navbar img {
    height: 75px;
}


.banner {
    position: fixed;
    top: 105px;
    padding: 0 10vw;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 105px);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/banner-family.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.banner div {
    text-align: right;
    max-width: 450px;
}

.banner h1 {
    color: #344024;
    font-weight: bold;
    font-size: 90px;
    padding: 0;
    line-height: 0.8;
    margin: 0;
    text-shadow: 2px 2px 4px rgb(79, 79, 79);;
}

.banner h5 {
    font-weight: bold;
    color: #344024;
}


.content {
    margin-top: 100vh;
    padding: 30px 0px;
    z-index: 0;
    background: linear-gradient(#fdffa0, white); /* Gradasi dari #fdffa0 (atas) ke putih (bawah) */
    box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content img {
    margin: 20px 0px;
    height: 200px;
}

.content p {
    text-align: justify;
}


@media screen and (max-width: 991px) {
    .banner {
        justify-content: center;
    }
    
    .banner div {
        text-align: center;
    }
    
    .banner h1 {
        font-size: 70px;
    }
  }


