body {
    background-color: #BEC97B;
    display: flex;
    justify-content: center;
}

.spinner-opened {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.my-navbar {
    position: fixed;
    top: 0;
    background-color: #FDFFA0;
    padding: 10px 10vw;
    width: 100vw;
    z-index: 2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: black;
}

.my-navbar a{
    color: black;
    font-weight: 600;
}

.my-navbar a:hover {
    color: black;
    font-weight: bold;
}

.my-navbar img {
    height: 75px;
}

#formDonorDarah {
    margin-top: 105px;
    height: min-content;
    min-height: 100vh;
    width: 620px;
    background-color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}

.form-select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    outline: none;
    border-radius: 0px;
    width: 320px;
  }
  
  .form-select:focus {
    border: none;
    border-bottom: 2px solid #007bff;
    box-shadow: none;
  }

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    outline: none;
    border-radius: 0px;
  }
  
.form-control:focus {
    border: none; /* Menghapus semua border */
    border-bottom: 2px solid #007bff; /* Menambahkan border bawah */
    box-shadow: none /* Menambahkan efek bayangan */
  }

.form-group {
    text-align: start;
    width: 320px;
    margin: 20px 0px 0px;
}

.form-group input {
    width: 320px;
}

#dataFields {
    width: 320px;;
}

#formFields {
    width: 320px;
}

.boxPhoto {
    background-size: cover;
    width: 320px;
    height: 200px;
    background-position: center;
}

.photoDescription {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.boxPhoto:hover .photoDescription {
    opacity: 1;
}

.photoDescription h4 {
    margin: 0;
    padding: 0;
    color: white;
  }

