RewriteEngine On

# Blokir akses langsung ke semua file dalam folder
RewriteCond %{REQUEST_URI} !^/check_pas_foto.php$ [NC]
RewriteCond %{REQUEST_URI} !^/ktpgetUserPasFoto.php$ [NC]
RewriteRule .* - [F]

# Logging (jika didukung oleh server)
LogLevel alert rewrite:trace3
