RewriteEngine On

# Blokir akses langsung ke semua file dalam folder ktp
RewriteCond %{REQUEST_URI} !^/check_ktp.php$ [NC]
RewriteRule .* - [F]

# Logging (jika didukung oleh server)
LogLevel alert rewrite:trace3
