RewriteEngine On

# Blokir akses langsung ke semua file dalam folder ktp getUserRujukan
RewriteCond %{REQUEST_URI} !^/check_rujukan.php$ [NC]
RewriteCond %{REQUEST_URI} !^/getUserRujukan.php$ [NC]
RewriteRule .* - [F]

# Logging (jika didukung oleh server)
LogLevel alert rewrite:trace3
